<nav class="navbar navbar-expand-lg" style="background-color: #ffffff;">
      <a class="navbar-brand" href="/categories">
      <img src="https://res.cloudinary.com/dzt4wkac0/image/upload/v1532046588/logo.png" width="35" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/categories" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/blush">Blush</a>
              <a class="dropdown-item" href="/bronzer">Bronzer</a>
              <a class="dropdown-item" href="/eyeliner">Eyeliner</a>
              <a class="dropdown-item" href="/eyeshadow">Eyeshadow</a>
              <a class="dropdown-item" href="/foundation">Foundation</a>
              <a class="dropdown-item" href="/lipLiner">Lip liner</a>
              <a class="dropdown-item" href="/lipStick">Lipstick</a>
              <a class="dropdown-item" href="/mascara">Mascara</a>
              <a class="dropdown-item" href="/nailPolish">Nail Polish</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/checkout">Shopping Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

</br>

<div class="card-deck categories">
    
  <div class="card">
    <a href="/foundation">
    <img class="card-img-top" src="https://images.beautybay.com/eoaaqxyywn6o/17bZzDAMKOcwUQOimUosac/e7e0e3db314c21347e616b774a22e7b0/theordinarycoveragefoundationspf15_1_gl.jpg?w=500&h=500&fm=jpg&fl=progressive" alt="Card image cap">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Foundation</h2>
    </div>
  </div>

  <div class="card">
    <a href="/mascara">
    <img class="card-img-top" src="http://cdn.shopify.com/s/files/1/0179/0771/products/MascaraSweepWithBrushSquare_grande.jpg?v=1524649599" alt="Card image cap">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Mascara</h2>
    </div>
  </div>

  <div class="card">
    <a href="/eyeliner">
    <img class="card-img-top" src="https://static-reg.lximg.com/images/pictures/42374/12381_KatVonD_WEB.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Eyeliner</h2>
    </div>
  </div>
</div>

<div class="card-deck">

  <div class="card">
    <a href="/blush">
    <img class="card-img-top" src="https://cdn.nipandfab.com/media/catalog/product/cache/6/thumbnail/1000x/9df78eab33525d08d6e5fb8d27136e95/b/l/blushergroup_1.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Blush</h2>
    </div>
  </div>

  <div class="card">
    <a href="/lipStick">
    <img class="card-img-top" src="https://www.smoochmakeup.com/wp-content/uploads/2018/03/lipstick1.gif">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Lipstick</h2>
    </div>
  </div>

  <div class="card">
    <a href="/lipLiner">
    <img class="card-img-top" src="https://cdns3-3.primor.eu/54043-thickbox/perfilador-de-labios-lipliner.jpg">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Lip liner</h2>
    </div>
  </div>
  
</div>

<div class="card-deck">

  <div class="card">
    <a href="/eyeshadow">
    <img class="card-img-top" src="https://tartecosmetics.com/dw/image/v2/BBPW_PRD/on/demandware.static/-/Sites-master-catalog-tarte/default/dw8b6b0a14/932/ALT/932-limited-edition-Rainforest-of-the-Sea&trade-eyeshadow-palette-vol.-II-multi-ROS-swatches-1_ALT.jpg?sw=680&sh=680&sm=fit">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Eyeshadow</h2>
    </div>
  </div>

  <div class="card">
    <a href="/bronzer">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0066/8562/products/BBR1_baked_bronzer_web_1000x1000.png?v=1529959779">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Bronzer</h2>
    </div>
  </div>

  <div class="card">
    <a href="/nailPolish">
    <img class="card-img-top" src="https://www.rankandstyle.com/media/lists/g/grey-nail-polishes_2.jpg">
    </a>
    <div class="card-body">
      <h2 class="card-title text-center cat">Nail Polish</h2>
    </div>
  </div>

</div>